<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>@ViewData["Title"] - GameBaseSite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" />
    <style>
        figure table {
            border-collapse: collapse;
        }

        table,
        th,
        td {
            border: 1px solid black;
            text-align: center;
        }

        th {
            width: 20%;
        }

        section,
        article {
            text-align: center;
            border-style: ridge;
        }
    </style>
</head>

<body>
    <header>

        <h1 style="font-size: xx-large;font-weight: bold;text-align: center;">
            GAME BASE
            <ul>
                <li>|| <a asp-area="" asp-controller="Home" asp-action="Index">HOME</a> || </li>
                <li>|| <a asp-area="" asp-controller="GameLibrary" asp-action="LibraryIndex">GAME LIBRARY</a> || </li>
                <li>|| <a asp-area="" asp-controller="Profile" asp-action="ProfileIndex">PROFILE</a> || </li>
                <li>|| <a asp-area="" asp-controller="Quiz" asp-action="QuizIndex">GAMER TYPE QUIZ</a> || </li>
                <li>|| <a asp-area="" asp-controller="Compare" asp-action="CompareIndex">COMPARE</a> || </li>
            </ul>
        </h1>

    </header>

    <div class="layer">
        <section>
            
                <main role="main">
                    <section>
                        @RenderBody()
                    </section>
                </main>
            
        </section>


    </div>


    <br>
    <footer>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>