@{ 
    ViewData["Title"] = "Profile";
}

<h1>Profile</h1>
<p>Test test test </p>
<div class="container">
    <h2>Username's Profile <!--Change this to a specific username later--></h2>
    <h3>UserID <!--Change this to a user ID later--></h3>
    <table border="1" style="border-collapse: collapse; width: 100%; height: 105px;">
        <thead>
            <tr style="height: 21px;">
                <td style="width: 10%; height: 21px;">Title</td>
                <td style="width: 10%; height: 21px;">Genre</td>
                <td style="width: 10%; height: 21px;">ESRB</td>
                <td style="width: 10%; height: 21px;">User Rating</td>
                <td style="width: 10%; height: 21px;">Completed?</td>
        </thead>
        <tbody>
            <tr style="height: 21px;">
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
            </tr>
            <tr style="height: 21px;">
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
            </tr>
            <tr style="height: 21px;">
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
            </tr>
            <tr style="height: 21px;">
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
            </tr>
            <tr style="height: 21px;">
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
                <td style="width: 10%; height: 21px;"></td>
            </tr>
        </tbody>
    </table>

</div>