@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>On this website you will find a place to catalouge your favorite games.</p>
    <div>We also offer a cool quiz that will tell you just what kind of gamer you are!</div>
</div>
