body{
    
    background-image: url("../images/cosmic.png");
    
    
}

header{
    background-color: rgba(158, 103, 209, 0.658);
}

footer{
    background-color: rgba(158, 103, 209, 0.658);
}

.layer {
    background-color: rgba(158, 103, 209, 0.658);
    text-align: center;
    margin-top: auto;
    margin: 100px;
       
}


a{
    font-family: Arial, Helvetica, sans-serif;
}



ol{
    text-align:center;
    
}
li {
    font-size: large;
    display: inline-block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

section, article{
    text-align: center;
    border-style: groove;
    border-color: cornflowerblue;
} 

.center {
    margin-left: auto;
    margin-right: auto;
  }