@model GameModel


<h1>Edit an existing game or upload a new game to the main Library</h1>
<form asp-action="LibraryIndex" method="post">
    <input type="hidden" asp-for="GameId"  />

    <label asp-for="Title">Title: </label>
    <input asp-for="Title" />

    <label asp-for="Genre">Genre: </label>
    <input asp-for="Genre" />

    <label asp-for="EsrbRating">ESRB Rating: </label>
    <input asp-for="EsrbRating" />

    <button type="submit">@ViewBag.button</button>
</form>
